<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show_Books</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <style>
        table, td {
            border: 1px solid;
        }
    </style>
</head>
<body>

<h2>List of books in our Librery :</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name of Book</th>
        <th>Author</th>
        <th>Year</th>
        <th>Stile</th>
        <th>Number of pages</th>
        <th>Description of book</th>
        <th>Buyer</th>
        <th>Owners</th>
        <th>Delete</th>
    </tr>
    <tr th:each="book: ${books}">
        <td th:text="${book.id}">
        <td><a th:href="@{ book/{id}( id= ${ book.getId() } ) }" th:text="${book.name}">Name</a></td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.year}">Year</td>
        <td th:text="${book.stileOfBook}">Stile of Book</td>
        <td th:text="${book.numPages}">Number of Pages</td>
        <td th:text="${book.description}">Description</td>
        <td th:text="${book.buyer.getNameBuyer()}">Buyer</td>
        <td>
            <div th:each="owner: ${book.owners}">
                <p th:text="${owner.nameOwner}"></p>
            </div>
        </td>
        <td><a th:href="@{ /book/delete/{id}( id= ${ book.getId() } ) }">Delete</a></td>
    </tr>

</table>


<p><a th:href="@{/book/new}">Add book</a></p>
<br>
<p><a th:href="@{/book/search}">Search book</a></p>

</body>
</html>